.scrollBar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 #eee; /* Thumb and track color */
}

/* For WebKit browsers (Chrome, Edge, Safari) */
.scrollBar::-webkit-scrollbar {
  height: 8px; /* Horizontal scrollbar height */
}

.scrollBar::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar thumb color */
  border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-track {
  background: #eee; /* Scrollbar track color */
}
